<li
        id="todo-{{ todo.id }}" hx-target="this" hx-swap="outerHTML" class="flex items-center space-x-4 p-5 bg-white todo"
>
    <form hx-post="{% url 'todo_update' todo.id %}?action=state" hx-trigger="change">
       {% csrf_token %}
        <input name="done" type="checkbox" {% if todo.done %}
               checked
        {% endif %} />
    </form>
    <span class="flex-1 {% if todo.done %} line-through {% endif %}"
    >{{ todo.name }}</span>
    <button type="button" hx-delete="{% url 'todo_detail' todo_id=todo.id %}" hx-swap="outerHTML" hx-target="closest .todo" hx-trigger="click">Deletar</button>
</li>
